body {
   margin: 40px;
 }
 
 .sidebar {
     grid-area: sidebar;
   }
   .logo{
    grid-area: logo;
   }
 
   .content {
     grid-area: content;
   }
   .content2 {
    grid-area: content2;
  }
  .content3{
    grid-area: content3;
  }
   .header {
     grid-area: header;
   }
 
   .footer {
     grid-area: footer;
   }
 
 
   .wrapper {
     display: grid;
     grid-gap: 10px;
     grid-template-columns: 33% 33% 33%;
     grid-template-areas:
     "logo header header"
     "sidebar content content"
     "sidebar content content"
     "sidebar content2 content2"
     "sidebar content3 content3"
     "footer  footer  footer";
     background-color: #fff;
     color: #444;
   }
 
 
 .box {
   background-color: #444;
   color: #fff;
   border-radius: 5px;
   padding: 10px;
   font-size: 150%;
   background-image: linear-gradient(red,orange, indigo, aqua);
 }
 
 .header,
 .footer {
   background-color: #999;
 }
 ul li{
  display: inline-block;
  padding: 30px;
 }
 nav ul a{
  text-decoration: none;
  color: #fff;
 }
